<main class="container-fluid" >
  <div [ngClass]="alertClass" role="alert">
    {{ Resultmessage }}
  </div>
  <button class="btn btn-defualt" (click)="GoBackToList()">Back to List</button>
  <div class="row">
    <div class="col-md-8">
        <div class="card my-2">
    <div class="card-header">
      فرم نگاشت Voucher </div>
    <div class="card-body ">
      <form #contactForm="ngForm" class="row" (ngSubmit)="Update(contactForm)">
        <div class="col-md-6">

          <!-- <div class="row mb-3">
            <label for="Id" class="col-sm-3 col-form-label">Id</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Id" name="Id" ngModel>
            </div>
          </div> -->

          <div class="row mb-3">
            <label for="voucherTypeId" class="col-sm-3 col-form-label">voucherTypeId</label>
            <div class="col-sm-9">
              <select id="voucherTypeId"  name="voucherTypeId"  (ngModelChange)=onFormChange($event) [(ngModel)]="formula.voucherTypeId"  class="form-select form-control select2 " aria-label="Default select example" >
                <option selected>Open this select menu</option>
                <option  *ngFor="let item of vocherTypeIdSelectData" [value]="item.id">code: {{item.code}} title:
                  {{item.title}} </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="orderIndex" class="col-sm-3 col-form-label">orderIndex</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="orderIndex" name="orderIndex" [(ngModel)]="formula.orderIndex" (ngModelChange)=onFormChange($event)>
            </div>
          </div>
          <div class="row mb-3">
            <label for="sourceVoucherTypeId" class="col-sm-3 col-form-label">sourceVoucherTypeId</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sourceVoucherTypeId" name="sourceVoucherTypeId" [(ngModel)]="formula.sourceVoucherTypeId" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <div class="row mb-3">
            <label for="debitCreditStatus" class="col-sm-3 col-form-label">debitCreditStatus</label>
            <div class="col-sm-9">
              <input type="number" max="255" class="form-control" id="debitCreditStatus" name="debitCreditStatus" [(ngModel)]="formula.debitCreditStatus" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <div class="row mb-3">
            <label for="accountHeadId" class="col-sm-3 col-form-label">accountHeadId</label>
            <div class="col-sm-9">
              <select id="accountHeadId" name="accountHeadId" class="form-select form-control select2 " aria-label="Default select example" [(ngModel)]="formula.accountHeadId" (ngModelChange)=onFormChange($event)>
                <option selected>Open this select menu</option>
                <option *ngFor="let item of accountHeadSelectData" [value]="item.id">code: {{item.code}} title:
                  {{item.title}} </option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="rowDescription" class="col-sm-3 col-form-label">rowDescription</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="rowDescription" name="rowDescription" [(ngModel)]="formula.rowDescription" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <!-- <div class="row mb-3">
            <label for="RowDescription" class="col-sm-3 col-form-label">RowDescription</label>
            <div class="col-sm-9">
              <select id="RowDescription" name="RowDescription" class="form-select form-control select2 " aria-label="Default select example" [(ngModel)]="RowDescription" (ngModelChange)=onFormChange($event)>
                <option selected>Open this select menu</option>
                <option *ngFor="let item of rowDescriptionSelectData" [value]="item"> {{item}}
                  {{item.title}} </option>
              </select>
            </div>
          </div> -->



          <div class="row mb-3">
            <label for="conditions" class="col-sm-3 col-form-label">conditions</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="conditions" name="conditions" [(ngModel)]="formula.conditions" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <div class="row mb-3">
            <label for="groupBy" class="col-sm-3 col-form-label">groupBy</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="groupBy" name="groupBy" [(ngModel)]="formula.groupBy" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <div class="row mb-3">
            <label for="ownerRoleId" class="col-sm-3 col-form-label">ownerRoleId</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="ownerRoleId" name="ownerRoleId" [(ngModel)]="formula.ownerRoleId" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <div class="row mb-3">
            <label for="createdById" class="col-sm-3 col-form-label">createdById</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="createdById" name="createdById" [(ngModel)]="formula.createdById" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <!-- <div class="row mb-3">
            <label for="createdAt" class="col-sm-3 col-form-label">createdAt</label>
            <div class="col-sm-9">
              <input type="datetime" class="form-control" id="createdAt" name="createdAt" [(ngModel)]="formula.createdAt" (ngModelChange)=onFormChange($event)>
            </div>
          </div> -->

          <div class="row mb-3">
            <label for="modifiedById" class="col-sm-3 col-form-label">modifiedById</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modifiedById" name="modifiedById" [(ngModel)]="formula.modifiedById" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <!-- <div class="row mb-3">
            <label for="modifiedAt" class="col-sm-3 col-form-label">modifiedAt</label>
            <div class="col-sm-9">
              <input  type="datetime" class="form-control" id="modifiedAt" name="modifiedAt" [(ngModel)]="formula.modifiedAt" (ngModelChange)=onFormChange($event)>
            </div>
          </div> -->

          <div class="row mb-3">
            <label for="isDeleted" class="col-sm-3 col-form-label">isDeleted</label>
            <div class="col-sm-9">
              <input type="checkbox" class="form-check-input" id="isDeleted" name="isDeleted" [(ngModel)]="formula.isDeleted" (ngModelChange)=onFormChange($event)>
            </div>
          </div>

          <button type="submit" class="btn btn-primary ">ذخیره</button>

        </div>
        <div class="col-md-6">
          <div class="row mb-3">
            <label for="Formula" class="col-sm-3 col-form-label">Formula</label>
            <div class="col-sm-9">
                <textarea class="form-control"  id="Formula" name="Formula" cols="10" rows="30" [(ngModel)]="formula.formula" (ngModelChange)="onFormulaChange($event)"></textarea>
            </div>
          </div>
        </div>
      </form>

    </div>


  </div>
    </div>

    <div class="col-md-4">
      <div class="card my-2">
  <div class="card-header">
    تبدیل فرمول </div>
  <div class="card-body ">
      <div class="col-md">
        <div class=" mb-3">

          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Add Formula :</label>
            </div>
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="نام فرمول را وارد کنید" name="FormullaName"
              [(ngModel)]="FormullaName" (ngModelChange)=onFormChange($event)>
            </div>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text text-success">
                <i (click)="createFormulaItem()" class="fa fa-plus-circle" aria-hidden="true"></i>
              </span>
            </div>
            <div class="col-auto text-danger">
              {{FormulaErroMessage}}
            </div>
          </div>

          <div id="FormulaWrapper" class="col" *ngFor="let item of FormullaArr;let index = index;">
            <!-- <input name=a{{index}} [(ngModel)]="toDos[index]" placeholder="item">    -->
            <label for="comment">{{item.Name}}</label>
            <div id=formula{{index}} class="input-group mb-3">
         
              <input (contextmenu)="detectRightMouseClick($event,index)" name=a{{index}} [attr.data-index]="index" [(ngModel)]="FormullaArr[index].Value" placeholder="item" class="form-control"  (change)="AlterFormula($event)" >
              <div id="showFormula{{index}}"   class="form-control" ></div>
              <div id="passwordHelpBlock" class="form-text col-sm-12">
                برای استفاده از placeholer مقدار placeholderرا داخل [] قرار دهید.
              </div>
              <!--<div class="input-group-append">
       
                 <span class="input-group-text">افزودن نوشته <i (click)="OpenAddTextModal(index)"
                    class="fa fa-plus-circle" aria-hidden="true"></i> </span>
      
              </div> -->
            </div>
<!--new codes-->

<!--End new codes-->

          </div>
        </div>

        <!-- <div class="">
          <textarea class="form-control col" name="" id="mappedResult" cols="30" rows="10"></textarea>
        </div> -->
      </div>



 

  </div>


</div>
  </div>

  </div>



</main>

<!-- Modal Insert Text -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  افزودن نوشته به فرمول
</button> -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addTextToFormulaForm="ngForm" class="row" (ngSubmit)="InsertTextToFormula(addTextToFormulaForm.value)">
          <div class="mb-3 mt-3 text-end">
            <label for="comment">متن مورد نظر را جهت افزودن نوشته به فرمول اضافه کنید</label>
            <textarea class="form-control" rows="5" id="comment" name="text" ngModel (input)="false"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">افزودن</button>
        </form>
      </div>
      <div class="modal-footer d-none">
        <button id="closeTextToFormulaModal" type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal Insert Text -->

<!-- Modal Insert PlaceHolder -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  افزودن نوشته به فرمول
</button> -->


<div class="modal fade" id="Placeholder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button id="closePlaceHolderToFormulaModal" type="button" class="close" data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #addPlaceHolderToFormulaForm="ngForm" class="row"
          (ngSubmit)="InsertPlaceHolderToFormula(addPlaceHolderToFormulaForm.value)">
          <div class="mb-3 mt-3 text-end">
            <input type="hidden" name="placeHolderIndex" id="placeHolderIndex" class="form-control" ngModel >
            <input type="hidden" name="FormulaIndex" id="FormulaIndex" class="form-control" ngModel >
            <label for="comment">نام فیلد برای جانگهدار را وارد کنید</label>
            <textarea class="form-control" rows="5" id="PlaceHoldercomment" name="text" ngModel></textarea>
          </div>
          <button type="submit" class="btn btn-primary">افزودن</button>
        </form>
      </div>
      <div class="modal-footer d-none">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal Insert PlaceHolder -->

<div id="contextmenu" class="contextmenu" [ngStyle]="rightPanelStyle" (clickOutSide)="closeContextMenu()" (mouseleave)="closeContextMenu()">
  <ul>
    <li class="contextmenu-item" (click)="removeFormulaItem()">حذف فرمول <i class="fa fa-trash" aria-hidden="true"  ></i></li>
    <!-- <li class="contextmenu-item" (click)="OpenAddPlaceHolderModal()">افزودن جانگهدار <i   class="fa fa-plus-square-o" aria-hidden="true"></i></li> -->
  </ul>
</div>